<!DOCTYPE html>
<html>

<head>
	<title>Portion Tracker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			font-family: 'Poppins', sans-serif;
		}
		body:before {
			content: '';
			position: fixed;
			width: 100vw;
			height: 100vh;
			background-image: url(https://startcenteromaha.org/wp-content/uploads/2014/12/courses-background.png);
			/*background-image: url(https://skillshipfoundation.com/wp-home2/2020/01/learn-to-code.jpg);*/
			/*background-image: url(https://b2-security.bg/images/2/b1e3ac341c6c35191b84c44a1dafe4bf/index-security-bg-353.jpg);*/
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			-webkit-background-size: cover;
			background-size: cover;
			-webkit-filter: blur(0px);
			-moz-filter: blur(0px);
			filter: blur(0px);
		}
		.addOrEdit_course-form {
			position: absolute;
			top: 137%;
			left: 48%;
			transform: translate(-50%, -50%);
			width: 1600px;
			height: 1900px;
			padding: 30px 400px;
			background: rgba(0, 0, 0, 0.5);
		}
		.addOrEdit_course-form h3 {
			margin-bottom: 640px;
			padding: 0;
			color: #f0ffff;
			text-align: center;
			font-size: xx-large;
			text-transform: uppercase;
			font-family: 'Times New Roman', serif;

		}
		.addOrEdit_course-form h1 {
			margin: 0;
			padding: 0 0 20px;
			color: #ff9999;
			/*color: #f0ffff;*/
			font-family: 'Times New Roman', serif;

		}
		.addOrEdit_course-form p {
			background: transparent;
			margin: 0;
			padding: 0;
			color: #fff;
		}
		.addOrEdit_course-form input {
			background: transparent;
			width: 100%;
			margin-bottom: 30px;
		}
		/*.addOrEdit_course-form input[type=name] {
			border: none;
			border-bottom: 1px solid #fff;
			background: transparent;
			outline: none;
			height: 40px;
			color: #fff;
			font-size: 16px;
		}*/
		.addOrEdit_course-form label {
			color: #ffffff;
		}
		.addOrEdit_course-form button[type=submit] {
			height: 40px;
			color: #fff;
			font-size: 18px;
			background: red;
			cursor: pointer;
			border-radius: 25px;
			border: none;
			outline: none;
			margin-top: 3%;
		}
		.addOrEdit_course-form a {
			height: 40px;
			color: #fff;
			font-size: 18px;
			background: red;
			cursor: pointer;
			border-radius: 25px;
			border: none;
			outline: none;
			margin-top: 3%;
		}
		.divider{
			width: 600px;
			height: auto;
			display: inline-block;
		}
		.image-stack {
			position: relative;
			left: 15%;
			top:0;
			width: 50%;
			padding: 120px 0px;
		}
		.image-stack__item--top{
			potition: absolute;

			width:50%;
		}
	</style>
	
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" style= " color: white; font-size: 30px; font-family: 'Times New Roman', serif;" href="#">Portion Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/profile_kalwa">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/students_kalwa">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/courses_kalwa">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/teachers_kalwa">Teachers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/lectures_kalwa">Lectures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style= " color: red; font-size: 20px; font-family: 'Times New Roman', serif;" href="/logout">Logout</a>
        </li>
    </ul>
</div>
</nav>
	<div class="image-stack">
			<div class="image-stack__item image-stack__item--top">
				<img src="https://insights.dice.com/wp-content/uploads/2017/07/Programming-Language-Popularity.jpg" width=1000 heigth=1000>
			</div>
	</div>
	<div class="addOrEdit_course-form">
		<br>

		<h3>{{viewTitle}}</h3>

		<form action="/courses_kalwa" method="POST" autocomplete="off">
			<input type="hidden" name="_id" value="{{course._id}}">
			<div  class="form-group">
				<h1>Course</h1>
				<label style= " color: lightblue; font-size: 20px; font-family: 'Times New Roman', serif;" for="name" >Course Name:</label>
				<input style="color: white; background: transparent;" type="text" class="form-control" placeholder="Enter name of the course " name="name" id="name" value="{{course.name}}" required>
				<div class="text-danger">
				{{course.nameError}}</div>
			</div>
			<div class="from-group">
				<h1>Modules of the course:</h1>
				<p>
					<label style= " color: lightblue; font-size: 20px; font-family: 'Times New Roman', serif;">Chapter 1:</label>
					<input style="color: white;" name ="chapter1" id="chapter1" placeholder="Enter name of the chapter" value="{{course.chapter1}}">
				</p>
				<p>
					<label style= " color: lightblue; font-size: 20px; font-family: 'Times New Roman', serif;">Chapter 2:</label>
					<input style="color: white;" name ="chapter2" id="chapter2" placeholder="Enter name of the chapter" value="{{course.chapter2}}">
				</p>
				<p>
					<label style= " color: lightblue; font-size: 20px; font-family: 'Times New Roman', serif;">Chapter 3:</label>
					<input style="color: white;" name ="chapter3" id="chapter3" placeholder="Enter name of the chapter" value="{{course.chapter3}}">
				</p>
				<p>
					<label style= " color: lightblue; font-size: 20px; font-family: 'Times New Roman', serif;">Chapter 4:</label>
					<input style="color: white;" name ="chapter4" id="chapter4" placeholder="Enter name of the chapter" value="{{course.chapter4}}">
				</p>
				<p>
					<label style= " color: lightblue; font-size: 20px; font-family: 'Times New Roman', serif;">Chapter 5:</label>
					<input style="color: white;" name ="chapter5" id="chapter5" placeholder="Enter name of the chapter" value="{{course.chapter5}}">
				</p>
				<p>
					<label style= " color: lightblue; font-size: 20px; font-family: 'Times New Roman', serif;">Chapter 6:</label>
					<input style="color: white;" name ="chapter6" id="chapter6" placeholder="Enter name of the chapter" value="{{course.chapter6}}">
				</p>
			</div>
			<div class="form-group">
				<h1>Fees</h1>
				<label style= " color: lightblue; font-size: 20px; font-family: 'Times New Roman', serif;" for="fees">Course fees:</label>
				<input style="color: white; background: transparent;" type="number" min="100" step="any" class="form-control" placeholder="Enter the cost for the course" name="number" id="number" value="{{course.number}}" required>
				<div class="invalid-feedback">Please fill course fees.</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
				<div class="divider"></div>
				<a class="btn btn-secondary" href="/list_coursekalwa" ><i class="fa fa-list-alt"></i> View All</a>
			</div>
		</form>
	</div>
</body>


