<!DOCTYPE html>
<html>

<head>
	<title>Portion Tracker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet"
	type="text/css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#date").datepicker({
				minDate: 0,
				dateFormat: 'dd/mm/yy'
			});
		});

		// $.get("/lectures", function(lecture){
		// 	$('#teacher').val(String);
		// })
	</script>

	<script type="text/javascript">
		function fetchTeachers(course){
			var xhttp=new XMLHttpRequest();
			xhttp.onreadystatechange=function(){
	  			document.getElementById("teacher").innerHTML=xhttp.responseText;
	  			//document.getElementById("chapter").innerHTML=xhttp.responseText;
	  		};
	  		xhttp.open("GET", "/lectureskalwa/"+course, true);
	  		xhttp.send();
	  	}
	  	//$('#teacher').empty().append('<option value=""{{this.Teacher_name}}</option>').val("response");
	</script>
	<script type="text/javascript">
		function fetchChapters(course){
			var xhttp=new XMLHttpRequest();
			xhttp.onreadystatechange=function(){
	  			//document.getElementById("teacher").innerHTML=xhttp.responseText;
	  			document.getElementById("chapter").innerHTML=xhttp.responseText;
	  		};
	  		xhttp.open("GET", "/lectureskalwa/chapters/"+course, true);
	  		xhttp.send();
	  	}
	</script>

	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			font-family: 'Poppins', sans-serif;
		}
		body:before {
			content: '';
			position: fixed;
			width: 100vw;
			height: 100vh;
			background-image: url("https://startcenteromaha.org/wp-content/uploads/2014/12/courses-background.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			-webkit-background-size: cover;
			background-size: cover;
			-webkit-filter: blur(0px);
			-moz-filter: blur(0px);
			filter: blur(0px);
		}
		.addlecture-form {
			position: absolute;
			top: 160%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1600px;
			height: 1200px;
			padding: 90px 450px;
			background: rgba(0, 0, 0, 0.5);
		}
		.addlecture-form h3 {
			margin: 0;
			padding: 0 0 20px;
			color: #f0ffff;
			text-align: center;
			font-size: xx-large;
			text-transform: uppercase;
			font-family: 'Times New Roman', serif;

		}
		.addlecture-form h1 {
			margin: 0;
			padding: 0 0 20px;
			color: #f0ffff;
			font-family: 'Times New Roman', serif;

		}
		.addlecture-form p {
			margin: 0;
			padding: 0;
			color: #fff;
		}
		.addlecture-form input {
			width: 100%;
			margin-bottom: 30px;
		}
		.addlecture-form select {
			width: 100%;
			margin-bottom: 30px;
		}

		.addlecture-form label {
			color: #ffffff;
		}
		.addlecture-form button[type=submit] {
			height: 40px;
			color: #fff;
			font-size: 20px;
			background: red;
			cursor: pointer;
			border-radius: 25px;
			border: none;
			outline: none;
			margin-top: 15%;
		}
		.addlecture-form a {
			height: 40px;
			color: #fff;
			font-size: 20px;
			background: red;
			cursor: pointer;
			border-radius: 25px;
			border: none;
			outline: none;
			margin-top: 15%;
		}
		.divider{
			width: 480px;
			height: auto;
			display: inline-block;
		}
		.image-stack {
			position: relative;
			left: 20%;
			top: 20%;
			width: 50%;
			padding: 10px 0px;
		}
		.image-stack__item--top{
			potition: absolute;

			width:50%;
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-transparent" style="background: rgba(0, 0, 0, 0.5);">
              <a class="navbar-brand" style= " color: white; font-size: 30px; font-family: 'Times New Roman', serif;" href="#">Portion Tracker</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/profile_kalwa">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/students_kalwa">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/courses_kalwa">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/teachers_kalwa">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/lectures_kalwa">Lectures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  style= " color: red; font-size: 20px; font-family: 'Times New Roman', serif;" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
	<div class="image-stack">
		<div class="image-stack__item image-stack__item--top">
			<img src="https://elearningindustry.com/wp-content/uploads/2016/10/7-tips-prepare-for-teaching-online.jpeg" width=900 height=550>
		</div>
	</div>
	<div class="addlecture-form">
		<br>
		<h3>{{viewTitle}}</h3>
		<br>

		<form action="/lectureupdate_kalwa" method="POST" autocomplete="off">
			<input type="hidden" name="_id" value="{{lecture._id}}">
			<div class="form-group">
				<label for="student">Student name:</label>
				<select name="student" id="student" class="form-control">
					<option>{{lecture.student}}</option>
					{{#each list_student}}
					<option>{{this.name}}</option>
					{{/each}}
				</select>
				<div class="invalid-feedback">Please select the student name.</div>
			</div>
			<div class="form-group">
				<label for="course">Course name:</label>
				<select name="course" id="course" class="form-control" onchange="fetchTeachers(this.value); fetchChapters(this.value);">
					<option>{{lecture.course}}</option>
					{{#each list_course}}
					<option>{{this.Course_name}}</option>
					{{/each}}
				</select>
				<div class="invalid-feedback">Please select the course name.</div>
			</div>
			<div class="form-group">
				<label for="teacher">Teacher name:</label>
				<select name="teacher" id="teacher" class="form-control">
					<option>{{lecture.teacher}}</option>
					{{#each list_teacher}}
					<option>{{this.Teacher_name}}</option>						
					{{/each}}
				</select>	
				<div class="invalid-feedback">Please select the teacher name.</div>
			</div>
			<div class="form-group">
				<label for="date">Date of Lecture:</label>
				<input type="text" class="form-control" name="date" id="date" value="{{lecture.date}}" required>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
				<div class="invalid-feedback">Please fill the date.</div>
			</div>

			<div class="form-group">
				<label for="time">Starting Time</label>
				<input type="time" class="form-control" value="{{lecture.stime}}" name="stime" id="stime" required>
				<div class="invalid-feedback">Please fill the field.</div>
			</div>

			<div class="form-group">
				<label for="time">Ending Time</label>
				<input type="time" class="form-control"  value="{{lecture.etime}}" name="etime" id="etime" required>
				<div class="invalid-feedback">Please fill the field.</div>
			</div>

			<div class="form-group">
				<label for="chapter">Chapter name:</label>
				<select name="chapter" id="chapter" class="form-control">
					<option>{{lecture.chapter}}</option>
					{{#each list_chapter}}
					<option>{{this.Chapter_1}}</option>
					<option>{{this.Chapter_2}}</option>
					<option>{{this.Chapter_3}}</option>
					<option>{{this.Chapter_4}}</option>
					<option>{{this.Chapter_5}}</option>
					<option>{{this.Chapter_6}}</option>
					{{/each}}
				</select>
				<div class="invalid-feedback">Please select the chapter name.</div>
			</div>

			<div  class="form-group">
				<label for="status">Status:</label>
				<input type="text" class="form-control" placeholder="Completed or Scheduled" name="status" id="status" value="{{lecture.status}}" required>
				<div class="invalid-feedback">Please select the chapter name.</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
				<div class="divider"></div>
				<a class="btn btn-secondary" href="/list_lecturekalwa"><i class="fa fa-list-alt"></i> View All</a>
			</div>
		</form>
	</div>

</body>

</html>

