<!DOCTYPE html>

<html>

<head>
    <title>Portion Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style type="text/css">
    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    body:before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: url(https://startcenteromaha.org/wp-content/uploads/2014/12/courses-background.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
    }
    .teachers-form {

        position: absolute;
        top: 117%;
        left: 48%;
        transform: translate(-50%, -50%);
        width: 1600px;
        height: 1600px;
        padding: 10px 370px;
        background: rgba(0, 0, 0, 0.5);
    }
    .teachers-form h3 {
        padding: 0px 20px;
        color: #f0ffff;
        font-size: xx-large;
        text-transform: uppercase;
        font-family: 'Times New Roman', serif;

    }
    .teachers-form h4 {
        margin: 0;
        margin-bottom: 85%;
        padding: 30px 20px;
        color: #f0ffff;
        text-align: center;
        font-size: xx-large;
        text-transform: uppercase;
        font-family: 'Times New Roman', serif;

    }
    .teachers-form h1 {
        margin: 0;
        padding: 0 0 20px;
        color: #f0ffff;
        font-family: 'Times New Roman', serif;

    }
    .teachers-form p {
        margin: 0;
        padding: 0;
        color: #fff;
    }
    .teachers-form input {
    	background: transparent;
        width: 100%;
        margin-bottom: 30px;
    }
    .teachers-form label {
        color: #ffffff;
    }
    .teachers-form th {
        color: #ffffff;
        width: auto !important;
    }
    .teachers-form td {
        color: #ffffff;
        width: auto !important;
    }
    .teachers-form button[type=submit] {
        height: 40px;
        color: #fff;
        font-size: 20px;
        background: red;
        cursor: pointer;
        border-radius: 25px;
        border: none;
        outline: none;
        margin-top: 10%;
    }
    .teachers-form a {
        height: 40px;
        color: #fff;
        font-size: 20px;
        background: red;
        cursor: pointer;
        border-radius: 25px;
        border: none;
        outline: none;
        margin-top: 10%;
    }
    .divider{
        width: 550px;
        height: auto;
        display: inline-block;
    }
    .image-stack {
        position: relative;
        left: 15%;
        top:0;
        width: 50%;
        padding: 100px 0px;
    }
    .image-stack__item--top{
        potition: absolute;

        width:50%;
    }
</style>
</head>



<body class="bg-info">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" style= " color: white; font-size: 30px; font-family: 'Times New Roman', serif"; href="#">Portion Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/profile_kalwa">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/students_kalwa">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/courses_kalwa">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/teachers_kalwa">Teachers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style= " color: white; font-size: 20px; font-family: 'Times New Roman', serif;" href="/lectures_kalwa">Lectures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  style= " color: red; font-size: 20px; font-family: 'Times New Roman', serif;" href="/logout">Logout</a>
        </li>
    </ul>
</div>
</nav>
<div class="image-stack">
    <div class="image-stack__item image-stack__item--top">
       <img src="https://www.principaltutors.com/wp-content/uploads/revslider/home/online-tutor-m.jpg" width=1000 heigth=1000>
       <!-- <img src="https://www.goodinfonet.com/uploads/news/goodinfonet_workfromhome_esl_jobs_1598433880_0.jpg" width=1000 heigth=1000> -->
   </div>
</div>

<div class="teachers-form">

	<!-- <div class="addOrEdit_course-form"> -->
		<h4>{{viewTitle}}</h4>

		<form action="/teacherupdatekalwa" method="post" autocomplete="off">
			<input type="hidden" name="_id" value="{{this._id}}">
			<div  class="form-group">
				<label for="name" style= " color: white; font-size: 25px; font-family: 'Times New Roman', serif;">Teacher's name:</label>
				<input style="color:white; background: transparent;" type="text" class="form-control" name="name" id="name" value="{{teacher.name}}" required>
				<div class="text-danger">
				{{teacher.nameError}}</div>
			</div>
			<br>
			<div  class="form-group">
				<label for="email" style= " color: white; font-size: 25px; font-family: 'Times New Roman', serif;">Email:</label>
				<input style="color:white; background: transparent;" type="text" class="form-control" name="email" id="email" value="{{teacher.email}}" required>
				<div class="text-danger">
				{{teacher.emailError}}</div>
			</div>
			<br>
			<div  class="form-group">
				<label for="phone" style= " color: white; font-size: 25px; font-family: 'Times New Roman', serif;">Contact no.:</label>
				<input style="color:white; background: transparent;" type="tel" class="form-control" name="phone" id="phone" value="{{teacher.phone}}" required>
				<div class="text-danger">
				{{teacher.phoneError}}</div>
			</div>
			<br>
			<div class="form-group">
				<label for="course" style= " color: white; font-size: 25px; font-family: 'Times New Roman', serif;">Course:</label>
				<select name="course" id="course" value="{{teacher.course}}">
					<option>{{teacher.course}}</option>
					{{#each list_course}}
					<option>{{this.Course_name}}</option>
					{{/each}}
				</select>
				<div class="invalid-feedback">Please select the course name.</div>
			</div>	
			<div class="form-group">
				<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
				<div class="divider"></div>
				<a class="btn btn-secondary" href="/list_teacherkalwa" ><i class="fa fa-list-alt"></i> View All</a>
			</div>
		</form>
	</div>
</body>


